{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-base",
    "plugin:jest/recommended",
    "plugin:jest/style"
  ],
  "plugins": [
    "jest",
    "@typescript-eslint",
    "eslint-plugin-tsdoc",
    "no-secrets",
    "node"
  ],
  "rules": {
    "no-console": "error",
    "import/extensions": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": [
      "error"
    ],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "tsdoc/syntax": "warn",
    "node/no-process-env": "error",
    "no-secrets/no-secrets": "error"
  },
  "ignorePatterns": ["dist/", "lib/"],
  "settings": {
    "import/resolver": {
      "typescript": {} // this loads <rootdir>/tsconfig.json to eslint
    }
  }
}
